@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background-color: #fbfafa;
}

.text-color {
  color: #772d8b;
}
.name-color {
  color: #545454;
}
.back-color {
  background-color: #a467a3;
}
.color2 {
  background-color: #d9a9c4;
}
.color3 {
  color: #afe0ea;
}

.color4 {
  color: #999;
}
.container-post {
  background-color: #efefef75;
}
.content {
  border-style: ridge;
  width: 50%;
  height: 80%;
}
.input-post {
  width: 100%;
  font-size: 20px;
  text-align: center;
  border: none;
}

h5 {
  background-color: #f5f6f7;
  border-bottom: 1px solid #dddfe2;
  border-radius: 2px 2px 0 0;
  font-weight: bold;
  padding: 8px 6px;
  margin: 0px;
}

.container {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: auto;
  text-align: center;
}

.main-img {
  width: 60%;
  margin: 20px;
}

.inputs {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  height: 43px;
  width: 90%;
  padding: 9px 0 7px 8px;
  outline: 0px;
}

.inputs:nth-child(2) {
  margin-top: 0;
}

.input-post {
  height: 10rem;
  resize: none;
}

input:focus {
  border: 1px solid #ffdddd;
}

.social-media-img {
  width: 100%;
  height: 100%;
  outline: none;
}

.name {
  font-size: 40px;
  font-weight: bolder;
}

.error {
  background-color: #ff070787;
  padding: 15px;
  margin-top: 20px;
  margin-left: 15px;
  width: 90%;
}

.buttons {
  border-radius: 20px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: fit-content;
  margin: 10px auto;
  outline: 0px;
  background-color: #d9a9c4;
  color: #772d8b;
}

.login-icons {
  margin: 15px auto;
}

.buttons-icons {
  width: 3rem;
  border: none;
  outline: none;
}

.header-profile {
  height: 50px;
}
.center {
  justify-content: center;
  align-items: center;
}

.inline-block {
  display: inline-block;
}

@media (max-width: 762px) {
}
