
.inicio{
  justify-content: center;
}

.login {
  display: flex;
  flex-flow: column wrap;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  width: 331px;
  height: 500px;
  align-items: center;
  
}

.logo {
  width: 30px;
  height: 30px;
  align-self: center;
}

.radius {
  border-radius: 15px;
  width: 200px;
  height: 30px;
  margin-top: 1em;
  
  
}

